__pycache__

/*.html
/*.xlsx
/*.dat
/*.txt
/*.xml
/*.json
/*.gz

!requirements.dev.txt
!requirements.txt

/.ipynb_checkpoints
/.idea
.~lock.*
venv
/static
.vscode
.env
/data
/dump
/log
/metrics
/temp
/.debug

local.py
local_urls.py

/htmlcov
/.coverage
/.coverage.*

.vscode/
*venv
test_files*
/.mypy_cache/

.idea

uploaded_apps/*
dockerfiles/*
rabbitmq
ci/

logs/

*.key
*.pem