name: deploy

on:
  push:
    branches:
      - main

env:
  REMOTE_SERVER_HOST: ${{ vars.REMOTE_SERVER_HOST }}
  REMOTE_SERVER_USERNAME: ${{ vars.REMOTE_SERVER_USERNAME }}
  COMPOSE_FOLDER_PATH: ${{ vars.COMPOSE_FOLDER_PATH }}

jobs:  
  deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy to remote server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ env.REMOTE_SERVER_HOST }}
          username: ${{ env.REMOTE_SERVER_USERNAME }}
          key: ${{ secrets.SERVER_SSH_PRIVATE_KEY }}
          script: |
            cd ${{ env.COMPOSE_FOLDER_PATH }}
            git pull
            docker-compose up --build -d

      - name: Rollback commit on error
        if: failure()
        run: echo "Deployment failed - check logs above"