name: deploy

on:
  push:
    branches:
      - main

env:
  REMOTE_SERVER_HOST: ${{ vars.REMOTE_SERVER_HOST }}
  REMOTE_SERVER_USERNAME: ${{ vars.REMOTE_SERVER_USERNAME }}
  COMPOSE_PATH: ${{ vars.COMPOSE_PATH }}

jobs:  
  deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy to remote server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ env.REMOTE_SERVER_HOST }}
          username: ${{ env.REMOTE_FORTUHOST_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          script: |
            cd ${{ env.COMPOSE_PATH }}
            git pull
            docker-compose up --build -d

      - name: Rollback commit on error
        if: steps.deployment.outcome != 'success'
        run: git reset HEAD
